body{
  background-image: url(pppp.jpg);
}
h1{
    text-align: center;
    color: #000000;
}
div.parnt1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1fr 1fr ;
    justify-content: center;

}
p {
font-size: 30px;
font-family: Algerian;
font-weight: bold
}
div.nav{
    font-size: 150%;
    text-align: center;
    color: #000000;
    box-shadow: 0px 4px 32px 12px rgba(0,0,0,0.1);
    font-weight: bold;
    font-family: Algerian;
    }
    div.nav a{
        margin: 30px;
    }
    
    a.three{
        font-size: 200%;
        color: rgb(136, 184, 233);
    }
    div.child1{
        border: 2ch;
    box-shadow: 25px 32px 62px 6px rgba(0,0,0,0.1);
    text-align:  center;
    
    }
    div.child2{
        border: 6ch;
    box-shadow: 25px 32px 62px 6px rgba(0,0,0,0.1);
    text-align:  center;
    }
    div.child3{
        border: 6ch;
    box-shadow: 25px 32px 62px 6px rgba(0,0,0,0.1);
    text-align:  center;

    }
    div.child4{
        border: 6ch;
    box-shadow: 25px 32px 62px 6px rgba(0,0,0,0.1);
    text-align:  center;
    }
    div.child5{
        border: 6ch;
    box-shadow: 25px 32px 62px 6px rgba(0,0,0,0.1);
    text-align:  center;
    }
    div.child6{
        border: 6ch;
    box-shadow: 25px 32px 62px 6px rgba(0,0,0,0.1);
    text-align:  center;
    }
    div.child7{
        border: 6ch;
        box-shadow: 25px 32px 62px 6px rgba(0,0,0,0.1);
        text-align:  center;
    }
    div.child8{
        border: 6ch;
        box-shadow: 25px 32px 62px 6px rgba(0,0,0,0.1);
        text-align:  center;
    }
    div.child9{
        border: 6ch;
        box-shadow: 25px 32px 62px 6px rgba(0,0,0,0.1);
        text-align:  center;
    }
    div.child10{
        border: 6ch;
        box-shadow: 25px 32px 62px 6px rgba(0,0,0,0.1);
        text-align:  center;
    }
    div.child11{
        border: 6ch;
        box-shadow: 25px 32px 62px 6px rgba(0,0,0,0.1);
        text-align:  center;
    }
    div.child12{
        border: 6ch;
        box-shadow: 25px 32px 62px 6px rgba(0,0,0,0.1);
        text-align:  center;
    }